@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>Search for and display movies using the free OMDb API </p>
<br />
<p>This is a web application built as part of a challenge given by TrueByte. </p>
