@{
    ViewData["Title"] = "Movie Search";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Welcome to our movie search application. You can search for movies by title, year of release, and plot length.</p>
    <p>@Html.ActionLink("Go to Movie Search", "Index", "Movie", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>